.chocolate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .chocolate-item label {
    display: flex;
    align-items: center;
  }
  
  .chocolate-item input[type='number'] {
    width: 40px;
    text-align: center;
  }
  